*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--gcr-font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--gcr-text);
  background-color: var(--gcr-bg);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}
